POSTGRES_DB=localdeploydb
POSTGRES_USER=localdeploy_user
POSTGRES_PASSWORD=localdeploy_password

DB_HOST=database
DB_PORT=5432
DB_NAME=localdeploydb
DB_USER=localdeploy_user
DB_PASSWORD=localdeploy_password
